body,html{ 
    margin: 0;
    padding: 0;
}


#imienazwisko{ 
width: 1905px;
height: 96px;
background-color: rgb(190, 164, 177);
text-align: center;
padding-top: 20px;
}
#imienazwisko h1{ 
    margin: 0;

}
#side{ 
    width: 200px;
    height: 700px;
    background-color: rgb(59, 49, 49);
}

#dol{
    
    width: 1905px;
    height: 96px;
    background-color: rgb(165, 192, 196) 
    
}
#art{ 
float: right;
    width: 1720px;
    height: 700px;
    background-color: blue;
  
}
#artykuł1{
width: 250px;
height: 350px;
background-color: white;
margin-left: 100px;
margin-top: 70px;



}
#artykuł2{
    width: 250px;
    height: 350px;
    background-color: white;
    margin-left: 400px;
    margin-top: -350px;
}
#artykuł3{
     width: 250px;
    height: 350px;
    background-color: white;
    margin-left: 700px;
    margin-top: -350px;

}
#artykuł4{
 width: 250px;
    height: 350px;
    background-color: white;
    margin-left: 1000px;        
    margin-top: -350px;
}
#obrazek1{
    width: 250px;
    height: 150px;
}
#obrazek2{
    width: 250px;
    height: 150px;
}
#obrazek3{
    width: 250px;
    height: 150px;
    }
    #obrazek4{
        width: 250px;
        height: 150px;
    }
    #link1{
float: right;
margin-top: 80px;
    }
    #link2{
        float: right;
        margin-top: -19px;
    
    }
#link3{
    float: right;
    margin-top: -20px;
}
#link4{
    float: right;
    margin-top: -21px;
}
#rok{
    float: right;
}

    

